.login-text {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 11px;
    font-family: Calibre, Helvetica, Arial, sans-serif;
    color: #333333;
    
    small{
        font-size: 65%;
        color: #777777;
        font-weight: normal;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: auto;
    text-align: center;
    



    input{
        position: relative;
        line-height: 1.42;
        background-color: #fff;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 93.5%;
        height: 33px;
        border: 1px solid black;
        border-radius: 1px;
    }

    input::placeholder, input[type="text"] {
        padding-left: 16px;
        font-family: Calibre,
        Helvetica,
        Arial,
        sans-serif;
        font-weight: 700;
        color: #333333;
        font-size: 15px;

    }

    input:focus,
    button:focus {
        outline: none;
    }

    button {
        height: 57px;
        background-color: #40d9ac;
        font-family: Calibre, Helvetica, Arial, sans-serif;
        color: #FFFFFF;
        border-radius: 3px;
        border: none;
        font-weight: 500;
        font-size: 16px;
    }

    button:hover {
        box-shadow: 1.5px 1.5px 2.5px 3px #ccc;
        cursor: pointer;
    }
   

}

.errors {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #C44841;
    height: 48px;
    width: 328.55px;
    border-radius: 2px;
    background-color: #fdf0ef;
    margin-bottom: 15px;
    
    li {
        padding: 10px;
        background: transparent;
        font-family: Calibre,
        Helvetica,
        Arial,
        sans-serif;
        font-size: 13px;
    }
}