.toilet {
    width: 70%;
    height: auto;
    border-radius: 15px;
}

.covid-header.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eae8e4;
    width: 100%;
    font-family: 'Calibre',
        Helvetica,
        Arial,
        sans-serif;
    color: #28400C;
    font-weight: 600;
    font-size: 12px;
    height: 40px;
}

.splash-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(243, 242, 239);
    position: fixed;
    top: 0;

.left-nav {
    display: flex;
    margin-left: 20px;
    align-items: center;

    img {
        height: auto;
        width: 140px;
    }
}

.right-nav {
    display: flex;
    align-items: center;
    margin: 20px;

    button {
        background: transparent;
        outline: none;
        border-width: 0px;
    }

    i {
        font-size: 18px;
        padding-left: 10px;
    }

    div {
        padding-right: 12px;
        padding-left: 12px;
    }

    span {
        font-family: 'Calibre', Helvetica, Arial, sans-serif;
        color: rgb(40, 64, 12);
        font-weight: 400;
        letter-spacing: 0.22px;
        line-height: 24px;
        font-size: 16px;
    }

    span:hover {
        border-bottom: 2px solid rgb(0, 197, 133);
        transition: border-bottom 0.25s ease 0s;
    }
}
}

