.splash {
    font-family: 'Calibre',
    Helvetica,
    Arial,
    sans-serif;
    width: 100%;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(243, 242, 239);
    z-index: -5;
}

.toilet {
    width: 90%;
    height: auto;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;

    
}

.covid-header.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eae8e4;
    width: 100%;
    font-family: 'Calibre',
        Helvetica,
        Arial,
        sans-serif;
    color: #28400C;
    font-weight: 600;
    font-size: 12px;
    height: 40px;
}

.nav-bar.splash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(243, 242, 239);
    position: sticky;
    top: 0;
    z-index: 2;


.left-nav {
    display: flex;
    margin-left: 20px;
    align-items: center;

    img {
        height: auto;
        width: 140px;
    }

    input {
        display: none;
    }
}

.right-nav {
    display: flex;
    align-items: center;
    margin: 20px;

    button {
        background: transparent;
        outline: none;
        border-width: 0px;
    }

    i {
        font-size: 18px;
        padding-left: 10px;
    }

    div {
        padding-right: 12px;
        padding-left: 12px;
    }

    span {
        font-family: 'Calibre', Helvetica, Arial, sans-serif;
        color: rgb(40, 64, 12);
        font-weight: 400;
        letter-spacing: 0.22px;
        line-height: 24px;
        font-size: 16px;
    }

    span:hover {
        border-bottom: 2px solid rgb(0, 197, 133);
        transition: border-bottom 0.25s ease 0s;
    }
}
}

.heading {
    text-align: center;
    color: #28400C;
    padding-bottom: 50px;
    h1 {
        font-size: 64px; 
        font-weight: 700;
        padding: 5px;
    }
    h2 {
        font-size: 24px;
        font-weight: 500;
        padding: 7px;
    }
}

.splash-search {
    position: absolute;
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    border: 1px solid rgb(229, 234, 223);
    border-radius: 40px;
    background: rgb(243, 242, 239);
    z-index: 1;
    color: #28400C;
    font-size: 12px;
    align-items: center;

    div{
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    button {
        border-radius: 50%;
        border: none;
        background:#40d9ac ;
        height: 48px;
        width: 48px;
        margin-right: 20px;
        margin-left: 10px;
        margin-top: 12px;

        i {
            color: #FFFFFF;
            font-size: 22px;
        }
        
    }

    button:hover {
        background:#FFFFFF;
        border: 2px solid #40d9ac;
        cursor: pointer;

        i{
           color:#40d9ac;
        }
    }

    input, select {
        border-radius: 25px;
        height: 48px;
        border: 1px solid rgb(229, 234, 223);
        margin-top: 5px;
    }

    .where {
        width: 40%;
    }

    .date {
        width: 20%
    }

    .accomodations {
        width: 25%;
    }
}

