



.filter-nav {
    display: flex;
    width: 100%;
    background: #fdfdfd;
    border-bottom: 1px solid rgb(222, 222, 222);
    border-top: 1px solid rgb(222, 222, 222);
    padding: 10px;
    

    button {
        font-size: 16px;
        color: #333333;
        letter-spacing: 0.22px;
        font-family: 'Calibre', Helvetica, Arial, Helvetica, sans-serif ;
        font-weight: 300;
        padding: 9px 7px;
        background: #FFFFFF;
        border: .5px solid #EBEBEB;
        border-radius: 2px;
        margin-right: 10px;
        
    }

}

.map-spots {
    display: flex;
    flex-direction: row;
    .map {
        position: sticky !important;
        left: 50%;
        width: 50%;
        height: 700px;
        top: 0;
        
    }
    .spots {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;

        .spot-index-item:hover {
            cursor: pointer;
        }
        
        .spot-index-item {
            margin: 20px;
            
            img {
                border-radius: 5px;
                width: 280px;
                height: 150px;
                padding-bottom: 15px;
            }

            .spot-title {
                font-size: 20px;
                color: #333333;
                letter-spacing: 0.22px;
                font-family: Calibre,
                Arial,
                Helvetica,
                sans-serif;
                font-weight: 400;
            }

            .price-type {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding-top: 7px;
                padding-bottom: 7px;
                border-bottom: 1px solid rgb(222, 222, 222);

                .spot-type {
                    font-size: 14px;
                    color: gray;
                    letter-spacing: 0.22px;
                    font-family: Calibre,
                    Arial,
                    Helvetica,
                    sans-serif;
                }

                .spot-price{
                    font-size: 22px;
                    color: #1b1b1b;
                    letter-spacing: 0.22px;
                    font-family: Calibre,
                    Arial,
                    Helvetica,
                    sans-serif;

                    span{
                        font-size: 14px;
                        color: #000000;
                        letter-spacing: 0.22px;
                        font-family: Calibre,
                        Arial,
                        Helvetica,
                        sans-serif;
                    }
                }
            }
        }
    }


}