.spot-show{

    .img-back {
         width: 100%;
         background: #ededed;
         margin-bottom: 25px;
     }

    img{
        margin-left: 20%;
        margin-right: 10%;
        width:60%;
        height: auto;
    }
    .spot-detail{
        width:50%;
        margin-left:15%;
        
        .location {
            font-size: 18px;
            font-family: "Calibre",
            Helvetica,
            Arial,
            sans-serif;
            color: #333333;
        }

        .title {
            font-family: "Calibre", Helvetica, Arial, sans-serif;
            font-size: 42px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .rec {
            font-family: "Calibre", Helvetica, Arial, sans-serif;
            font-size: 18px;
            color: #333333;
            i {
                color: #40d9ac;
                font-size: 18px;
                span {
                    font-family: Calibre,
                    Helvetica,
                    Arial,
                    sans-serif;
                    font-size: 18px;
                }

            }
        }

        .border {
            height: 20px;
            border-bottom: 1px solid lightgray;
            width: 100%
        }

       
    }
}

.booking-form {
    position: sticky;
    top: 0;
    background: white;
    border: 2px solid #ebebeb;
    margin-left: 70%;
    height: 285px;
    width: 317px;
    bottom: 10px;
    border-radius: 3px;
    font-family: "Calibre",
    Helvetica,
    Arial,
    sans-serif;

    > div {
        height: 70px;
        border-bottom: 2px solid #ebebeb;
        width: 100%;
        display: flex;
       
    }

    .text {
        margin: 10px;
    }

    .in {
        border-right: 2px solid #ebebeb;
    }

    .in:hover, .out:hover, .guests:hover {
        background: #FDFDFD
    }

    .sub {
        button {
            margin: 10px;
            background: #40d9ac;
            width: 100%;
            border: none;
            color: #fff;
            font-size: 19px;
            font-weight: 500;
        }

        button:hover {
            border: 3px solid #40d9ac;
            background: #FFF;
            color: #40d9ac;
            cursor: pointer;
        }
    }

    .dates {

        .out, .in {
            width: 50%;
        }

        input {
            border: none;
            width: 95%;
        }
    }

    .guests {
        div {
            display: flex;
            flex-direction: column;
        }

        select {
            border: none
        }
    }

    label {
       font-size: 16px;
       color: #333333; 
       margin-bottom: 5px; 
    }

    .price {
        
        div {
            display: flex;
            flex-direction: column;
        }

        span {
            font-size: 24px;
            color: #333333;
            margin-bottom: 5px;
        }

        small {
            font-size: 14px;
            color: #757575
        }
    }
}

.sec1 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-family: "Calibre",
    Helvetica,
    Arial,
    sans-serif;
    ;
    padding-bottom: 28px;

    .host {
        display: flex;
        width: 40%;

        img{
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }

        span {
            font-size: 14px;
            color: #333333;
            font-weight: 550;
        }

        p{
            padding-top: 5px;
            font-size: 16px;
            font-weight: 400;
        }
    }


    .text {
        display: flex;
        flex-direction: column;
        width: 60%;
        line-height: 25px;

        .covid {
            background: #F3E4EF;
            color: #972985;
            padding: 15px;
            border: none;
            border-radius: 4px;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 10px;

        }
    }

}

.details {
    display: flex;
    font-family: "Calibre",
    Helvetica,
    Arial,
    sans-serif;

    li {
        font-size: 15px;
        color: #333333;
        padding-top: 8px;

        i {
            font-family: default;
            padding-right: 4px;
        }
    }

    div {
        height: 300px;
        width: 200px;
        padding: 15px 5px 15px 15px;
        border: 2px solid #ebebeb;
        margin: 0 10px 20px;
        border-radius: 2px;
    }

    h2 {
        
        font-size: 21px;
        font-weight: 520;
        

    }

}

.checkin {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    font-family: "Calibre",
    Helvetica,
    Arial,
    sans-serif;
    ;

    span{
        padding-bottom: 5px;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    b {
        font-weight: 600;
    }
}