.spot-show{

    .img-back {
         width: 100%;
         background: #ededed;
         margin-bottom: 25px;
     }

    img{
        margin-left: 20%;
        margin-right: 10%;
        width:60%;
        height: auto;
    }
    .spot-detail{
        width:50%;
        margin-left:15%;
        
        .location {
            font-size: 18px;
            font-family: Calibre,
            Helvetica,
            Arial,
            sans-serif;
            color: #333333;
        }

        .title {
            font-family: Calibre,
            Helvetica,
            Arial,
            sans-serif;
            font-size: 42px;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .rec {
            font-family: Calibre,
            Helvetica,
            Arial,
            sans-serif;
            font-size: 18px;
            color: #333333;
            i {
                color: #40d9ac;
                font-size: 18px;
                span {
                    font-family: Calibre,
                    Helvetica,
                    Arial,
                    sans-serif;
                    font-size: 18px;
                }

            }
        }

        .firstborder {
            height: 20px;
            border-bottom: 1px solid lightgray;
            width: 100%
        }

       
    }
}

.booking-form {
    position: fixed;
    background: white;
    border: 2px solid #ebebeb;
    margin-left: 70%;
    height: 285px;
    width: 317px;
    bottom: 10px;
    border-radius: 3px;

    > div {
        height: 70px;
        border-bottom: 2px solid #ebebeb;
        width: 100%;
        display: flex;
    }

    .in {
        border-right: 2px solid #ebebeb;
    }

    .in:hover, .out:hover, .guests:hover {
        background: #FDFDFD
    }

    .sub {
        button {
            margin: 10px;
            background: #40d9ac;
            width: 100%;
            border: none;
            color: #fff;
            font-family: Calibre,
            Helvetica,
            Arial,
            sans-serif;
            font-size: 19px;
            font-weight: 500;
        }

        button:hover {
            border: 3px solid #40d9ac;
            background: #FFF;
            color: #40d9ac;
        }
    }

    .dates {
        input {
            border: none;
        }
    }

    .guests {
        flex-direction: column;

        select {
            border: none
        }
    }
}

.sec1 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;


    .text {
        display: flex;
        flex-direction: column;

        .covid {
            background: #F3E4EF;
            color: #972985;
            padding: 15px;
            border: none;
            border-radius: 4px;
            width: 370px;

        }
    }

}
